$main_color: #96c5dc;
$secondary_color: #1078ad;
$warning_color: #f4cf1b;
$white_color: #fff;
$black_color: #000;
$green_color: #369d53;
$sucess_color: rgb(18, 236, 29);

// font used;
$main_font: "Open Sans", sans-serif;
$secondary_font: "Cairo", sans-serif;
