* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  font-weight: bolder; }
  @media (max-width: 667px) {
    body {
      font-size: 1.4rem; } }

ul {
  list-style: none; }

a {
  text-decoration: none; }

main {
  position: relative;
  top: 80px;
  min-height: 400px; }

.doctor .doctor__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.title {
  color: #1078ad;
  font-size: 2.5rem;
  padding: 15px 0px;
  text-align: center; }
  @media (max-width: 767px) {
    .title {
      font-size: 2rem; } }

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: "Cairo", sans-serif;
  padding: 10px 20px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  width: 70%;
  max-width: 500px;
  outline: none;
  border: none;
  font-size: 2rem;
  cursor: pointer; }

.small-btn {
  width: auto; }

hr {
  height: 4px;
  width: 70%;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background-color: #f4cf1b; }

.btn-main {
  color: #fff;
  background-color: #1078ad; }

.symptomes .symptomes__types {
  max-width: 580px;
  margin: 0px auto; }

.figure {
  width: 33.33%;
  min-width: 200px;
  margin: 20px auto; }
  @media (max-width: 767px) {
    .figure {
      width: 45%;
      min-width: 150px; } }

.caption {
  margin: 20px 0px;
  min-height: 50px; }

.hero {
  text-align: center;
  background-color: #f4cf1b;
  color: #000;
  font-size: 1.5rem;
  padding: 0px 5px; }
  .hero .hero__warning {
    max-width: 667px;
    margin: 0 auto;
    padding: 20px 0px; }
    .hero .hero__warning .hero__title {
      color: #1078ad;
      margin-bottom: 15px; }
    .hero .hero__warning .hero__descri {
      line-height: 2;
      font-family: "Cairo", sans-serif; }

.symptomes {
  background-color: #fff; }
  .symptomes .symptomes__types {
    display: flex;
    text-align: center; }

.recommandations {
  background-color: #1078ad;
  padding: 20px 0px; }
  .recommandations .recommandations__desc {
    font-family: "Cairo", sans-serif;
    font-size: 2rem;
    line-height: 1.9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 500px) {
      .recommandations .recommandations__desc {
        flex-direction: column;
        text-align: center; } }
  .recommandations .recommandations__title {
    color: #fff; }
  .recommandations .recommandations__items {
    color: #fff; }
  .recommandations .recommandations__contact {
    text-align: center; }
    .recommandations .recommandations__contact .recommandations__contact--title {
      font-weight: 800;
      color: #f4cf1b;
      margin-bottom: 20px; }
    .recommandations .recommandations__contact .recommandations__contact--phone {
      display: block;
      margin-bottom: 20px;
      background-color: #f4cf1b;
      padding: 15px 0px; }
    .recommandations .recommandations__contact .recommandations__contact--site {
      display: block;
      color: #fff;
      border-bottom: 2px solid #f4cf1b; }

.demande-test {
  text-align: center;
  background-color: #96c5dc;
  min-height: 200px;
  padding: 20px 10px; }

.active {
  color: #1078ad !important; }

.navbar .navbar__item--border {
  border-radius: 10px; }

.container {
  max-width: 1370px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.add_main_color {
  background-color: #96c5dc; }

.add_warning_color {
  background-color: #f4cf1b !important; }

.info-medical {
  max-width: 750px;
  margin: 0px auto;
  border-radius: 10px;
  margin-bottom: 20px; }

.add-green-backgr {
  background-color: #369d53; }

.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #96c5dc;
  font-family: "Cairo", sans-serif;
  padding: 10px 15px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%; }
  .navbar .navbar__list {
    margin-top: 5px;
    margin-right: 32px; }
    .navbar .navbar__list .navbar__item {
      display: inline-block;
      margin-left: 64px; }
      @media (max-width: 767px) {
        .navbar .navbar__list .navbar__item {
          margin-left: 20px; } }
      .navbar .navbar__list .navbar__item .navbar__link {
        color: #000; }
      .navbar .navbar__list .navbar__item .navbar__link--lang span {
        position: relative;
        bottom: 4px;
        right: 5px;
        color: #1078ad; }
  .navbar .navbar__item--border {
    border: 1px solid #1078ad;
    padding: 6px 7px 5px 10px; }

footer {
  text-align: center;
  padding-top: 20px; }
  footer li {
    margin-bottom: 20px;
    font-family: "Cairo", sans-serif;
    font-size: 1.6rem; }
    footer li a {
      color: #1078ad; }
  footer .navbar__link--lang {
    border: 2px solid #1078ad;
    padding: 10px;
    border-radius: 10px; }

.footer--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.4rem; }
  .footer--content .title {
    font-size: 1.8rem;
    margin-top: 24px; }

.footer--contact {
  flex: 3;
  margin-left: 20px !important;
  min-width: 230px;
  margin: 0 auto; }
  .footer--contact p {
    margin-bottom: 10px; }
  .footer--contact .phone-num {
    color: #369d53; }

.footer-info {
  flex: 4;
  min-width: 350px;
  font-weight: normal;
  text-align: start; }

.footer--foot {
  height: 32px;
  background-color: #1078ad; }

.proteger {
  background-color: #fff;
  color: #1078ad; }
  .proteger .proteger__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap; }
    @media (max-width: 420px) {
      .proteger .proteger__items .figure .figure-img__container img {
        height: 100px;
        width: 60%; } }

@media (max-width: 580px) {
  .home {
    width: 80% !important; } }

@media (max-width: 580px) {
  .home img {
    width: 40% !important; } }

.information {
  background-color: #96c5dc;
  text-align: center;
  color: #1078ad; }
  .information .information__types {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 767px) {
      .information .information__types {
        flex-direction: column; } }
  @media (max-width: 767px) {
    .information .figure {
      width: 100% !important; } }

.symptomes-transmition__items {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  color: #1078ad; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  font-weight: bolder; }
  @media (max-width: 667px) {
    body {
      font-size: 1.4rem; } }

ul {
  list-style: none; }

a {
  text-decoration: none; }

main {
  position: relative;
  top: 80px;
  min-height: 400px; }

.doctor .doctor__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.title {
  color: #1078ad;
  font-size: 2.5rem;
  padding: 15px 0px;
  text-align: center; }
  @media (max-width: 767px) {
    .title {
      font-size: 2rem; } }

.btn {
  display: inline-block;
  text-decoration: none;
  font-family: "Cairo", sans-serif;
  padding: 10px 20px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  width: 70%;
  max-width: 500px;
  outline: none;
  border: none;
  font-size: 2rem;
  cursor: pointer; }

.small-btn {
  width: auto; }

hr {
  height: 4px;
  width: 70%;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background-color: #f4cf1b; }

.btn-main {
  color: #fff;
  background-color: #1078ad; }

.symptomes .symptomes__types {
  max-width: 580px;
  margin: 0px auto; }

.figure {
  width: 33.33%;
  min-width: 200px;
  margin: 20px auto; }
  @media (max-width: 767px) {
    .figure {
      width: 45%;
      min-width: 150px; } }

.caption {
  margin: 20px 0px;
  min-height: 50px; }

.hero {
  text-align: center;
  background-color: #f4cf1b;
  color: #000;
  font-size: 1.5rem;
  padding: 0px 5px; }
  .hero .hero__warning {
    max-width: 667px;
    margin: 0 auto;
    padding: 20px 0px; }
    .hero .hero__warning .hero__title {
      color: #1078ad;
      margin-bottom: 15px; }
    .hero .hero__warning .hero__descri {
      line-height: 2;
      font-family: "Cairo", sans-serif; }

.symptomes {
  background-color: #fff; }
  .symptomes .symptomes__types {
    display: flex;
    text-align: center; }

.recommandations {
  background-color: #1078ad;
  padding: 20px 0px; }
  .recommandations .recommandations__desc {
    font-family: "Cairo", sans-serif;
    font-size: 2rem;
    line-height: 1.9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 500px) {
      .recommandations .recommandations__desc {
        flex-direction: column;
        text-align: center; } }
  .recommandations .recommandations__title {
    color: #fff; }
  .recommandations .recommandations__items {
    color: #fff; }
  .recommandations .recommandations__contact {
    text-align: center; }
    .recommandations .recommandations__contact .recommandations__contact--title {
      font-weight: 800;
      color: #f4cf1b;
      margin-bottom: 20px; }
    .recommandations .recommandations__contact .recommandations__contact--phone {
      display: block;
      margin-bottom: 20px;
      background-color: #f4cf1b;
      padding: 15px 0px; }
    .recommandations .recommandations__contact .recommandations__contact--site {
      display: block;
      color: #fff;
      border-bottom: 2px solid #f4cf1b; }

.demande-test {
  text-align: center;
  background-color: #96c5dc;
  min-height: 200px;
  padding: 20px 10px; }

.active {
  color: #1078ad !important; }

.navbar .navbar__item--border {
  border-radius: 10px; }

.container {
  max-width: 1370px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.add_main_color {
  background-color: #96c5dc; }

.add_warning_color {
  background-color: #f4cf1b !important; }

.info-medical {
  max-width: 750px;
  margin: 0px auto;
  border-radius: 10px;
  margin-bottom: 20px; }

.add-green-backgr {
  background-color: #369d53; }

.navbar {
  height: 60px;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  background-color: #96c5dc;
  font-family: "Cairo", sans-serif;
  padding: 10px 15px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%; }
  .navbar .navbar__list {
    margin-top: 5px;
    margin-right: 32px; }
    .navbar .navbar__list .navbar__item {
      display: inline-block;
      margin-left: 64px; }
      @media (max-width: 767px) {
        .navbar .navbar__list .navbar__item {
          margin-left: 20px; } }
      .navbar .navbar__list .navbar__item .navbar__link {
        color: #000; }
      .navbar .navbar__list .navbar__item .navbar__link--lang span {
        position: relative;
        bottom: 4px;
        right: 5px;
        color: #1078ad; }
  .navbar .navbar__item--border {
    border: 1px solid #1078ad;
    padding: 6px 7px 5px 10px; }

footer {
  text-align: center;
  padding-top: 20px; }
  footer li {
    margin-bottom: 20px;
    font-family: "Cairo", sans-serif;
    font-size: 1.6rem; }
    footer li a {
      color: #1078ad; }
  footer .navbar__link--lang {
    border: 2px solid #1078ad;
    padding: 10px;
    border-radius: 10px; }

.footer--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.4rem; }
  .footer--content .title {
    font-size: 1.8rem;
    margin-top: 24px; }

.footer--contact {
  flex: 3;
  margin-left: 20px !important;
  min-width: 230px;
  margin: 0 auto; }
  .footer--contact p {
    margin-bottom: 10px; }
  .footer--contact .phone-num {
    color: #369d53; }

.footer-info {
  flex: 4;
  min-width: 350px;
  font-weight: normal;
  text-align: start; }

.footer--foot {
  height: 32px;
  background-color: #1078ad; }

.progress-bar {
  width: 350px;
  margin: 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .progress-bar .second-circle-container {
    display: inline-block;
    position: relative;
    left: 138px;
    bottom: 11px; }
  .progress-bar .line {
    width: 300px;
    height: 3px;
    background-color: #369d53; }
  .progress-bar i {
    display: inline-block;
    height: 9px;
    width: 9px;
    background-color: #1078ad;
    border-radius: 50%;
    margin-bottom: 3px; }
    @media (max-width: 676px) {
      .progress-bar i {
        margin-bottom: 1px; } }

.progress-bar-description {
  max-width: 370px;
  margin: 0px auto;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between; }
  .progress-bar-description p {
    display: inline-block;
    position: relative;
    bottom: 15px; }
  .progress-bar-description .progress-bar-description--second {
    margin-left: 60px; }
  .progress-bar-description .progress-bar-description--third {
    margin-left: 80px; }
    @media (max-width: 380px) {
      .progress-bar-description .progress-bar-description--third {
        margin-left: 50px; } }

.progress-bar span {
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%; }

.preambule {
  background-color: #96c5dc;
  margin: 24px auto;
  border-radius: 10px;
  text-align: center;
  font-size: 2rem;
  font-family: "Cairo", sans-serif; }
  .preambule p {
    padding: 24px;
    line-height: 2; }

#progre {
  display: flex;
  align-items: center; }

.show-progress {
  border-radius: 20px;
  height: 12px;
  margin: 32px 20px 32px 23%;
  width: 50%;
  background-color: lightblue; }
  @media (max-width: 767px) {
    .show-progress {
      width: 90%;
      margin: 32px auto; } }
  .show-progress .progress-indicateur {
    width: 4.34783%;
    transition-property: width;
    transition-duration: 2s;
    transition-delay: 0.1s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #369d53;
    height: 12px; }

.start-btn__container a {
  width: 50%;
  margin-left: 30%; }
  @media (max-width: 400px) {
    .start-btn__container a {
      margin-left: 20%; } }

.btnCont {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 500px; }
  @media (max-width: 500px) {
    .btnCont button {
      font-size: 1.6rem; } }

.question {
  min-height: 150px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #000;
  background-color: #f6f6f6;
  border-left: 4px solid #1078ad;
  padding: 0px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.quiz_elem {
  color: rgba(0, 0, 0, 0.472);
  max-width: 780px;
  min-height: 45vh;
  font-family: "Cairo", sans-serif; }

.form {
  padding: 15px;
  max-width: 400px;
  margin: 0px auto;
  font-size: 2rem;
  margin-top: 20px; }

.form-checkbox {
  margin-bottom: 24px;
  width: 180px;
  color: #000000;
  display: flex;
  justify-content: space-around; }
  @media (max-width: 500px) {
    .form-checkbox {
      width: 155px; } }
  .form-checkbox input {
    height: 20px;
    width: 20px;
    position: relative;
    top: 3.5px; }

input[type="number"] {
  border: 2px solid #1078ad;
  margin-top: 48px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  width: 250px; }

input[type="number"]:focus {
  border: 2px solid #369d53; }

.flex-radio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.msg {
  max-width: 700px;
  margin: 32px auto;
  background-color: #1078ad;
  font-family: "Cairo", sans-serif;
  font-size: 1.8rem;
  padding: 20px 10px;
  color: #f4cf1b;
  text-align: center;
  border-radius: 10px; }

.reprendre {
  width: 25%;
  margin-left: 37.5%; }
  @media (max-width: 500px) {
    .reprendre {
      width: 50%;
      margin-left: 21%; } }

.doctor {
  padding: 20px 0px; }
  @media (max-width: 770px) {
    .doctor .doctor__container {
      flex-direction: column; } }
  .doctor .doctor__container .doctor--container-img {
    width: 50%; }
    @media (max-width: 770px) {
      .doctor .doctor__container .doctor--container-img {
        width: 100%; } }
  .doctor .doctor__container .doctor--container-desc {
    width: 50%;
    text-align: center; }
    @media (max-width: 770px) {
      .doctor .doctor__container .doctor--container-desc {
        width: 100%; } }
    .doctor .doctor__container .doctor--container-desc span {
      display: block;
      line-height: 1.9;
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.52); }



      /* errur */
      .erreur {
        margin-top: 6rem;
        padding: 3rem 0;
        text-align: center;        
        }

        .erreur .erreur-title{
          padding: 2rem 0;
          font-size: 50px;
          font-weight: bold;
          color: #1078ad;
        }

        .erreur  img {
          padding: 0 2rem 2rem 2rem;
         margin:  0 auto;
         
       }
        .erreur-button{
            background-color:#1078ad;
            outline: none;
            color: white;
            padding: 5px 10px;
            border: 2px solid  #1078ad;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
    }



    .erreur-button a {
      font-size: 30px ;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      color: white;
    }